In [4]:
# Загрузка библиотек
import pandas as pd
import numpy as np

from funcs import fill_na_with_similar

In [5]:
# Загрузка датасета
db1 = pd.read_excel('Database_1.xlsx')
db1.head()

,Material type,Elements,Electronegativity,Ionic radius,Core size (nm),Hydro size (nm),Surface charge (mV),Surface area (m2/g),Cell type,Exposure dose (ug/mL),...,Molecular weight (g/mol),Topological polar surface area (Å²),a (Å),b (Å),c (Å),α (°),β (°),γ (°),Density (g/cm3),Viability (%)
0,CuO,Cu,1.90,73.0,12.8,313.8,7.6,74.2,1,200.0,...,79.5450,17.1,4.685,3.423,5.132,90,99.5,90,5.94,9.1
1,ZnO,Zn,1.65,74.0,22.6,114.7,28.8,47.4,0,200.0,...,81.3800,17.1,3.249,3.249,5.206,90,90.0,120,5.44,9.5
2,ZnO,Zn,1.65,74.0,22.6,114.7,28.8,47.4,0,100.0,...,81.3800,17.1,3.249,3.249,5.206,90,90.0,120,5.44,10.2
3,ZnO,Zn,1.65,74.0,22.6,69.4,28.8,47.4,1,100.0,...,81.3800,17.1,3.249,3.249,5.206,90,90.0,120,5.44,11.0
4,Mn2O3,Mn,1.55,58.0,51.5,291.7,-46.1,25.9,1,200.0,...,157.8743,43.4,5.752,5.752,9.426,90,90.0,90,4.59,11.3

In [6]:
# Очистка столбца с типом материала
db1['Material type'].unique()

array(['CuO', 'ZnO', 'Mn2O3', 'CoO', 'CeO2', 'Fe2O3', 'Gd2O3', 'HfO2',
       'In2O3', 'La2O3', 'NiO', 'Sb2O3', 'SiO2', 'Al2O3'], dtype=object)

In [7]:
# Удаление некоторых столбцов по причине их наличия
# у слишком малого количества образцов
db1.drop(['a (Å)', 'b (Å)', 'c (Å)', 'α (°)', 'β (°)', 'γ (°)'], axis=1, inplace=True)

In [8]:
# Заполнение пропусков
for col in db1.columns[db1.isna().any()]:
    perc = fill_na_with_similar(db1, col)
    print(f'Filled nan for {col}: {round(perc * 100, 2)}%')

Filled nan for Electronegativity: 100.0%
Filled nan for Ionic radius: 100.0%
Filled nan for Hydro size (nm): 100.0%
Filled nan for Surface area (m2/g): 100.0%
Filled nan for Molecular weight (g/mol): 100.0%

In [9]:
db1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Material type                        494 non-null    object
 1   Elements                             494 non-null    object
 2   Electronegativity                    494 non-null    float64
 3   Ionic radius                         494 non-null    float64
 4   Core size (nm)                       494 non-null    float64
 5   Hydro size (nm)                      494 non-null    float64
 6   Surface charge (mV)                  494 non-null    float64
 7   Surface area (m2/g)                  494 non-null    float64
 8   Cell type                            494 non-null    int64
 9   Exposure dose (ug/mL)                494 non-null    float64
 10  Number of atoms                      494 non-null    int64
 11  Molecular weight (g/mol)             494 non-null    float64
 12  Topological polar surface area (Å²)  494 non-null    float64
 13  Density (g/cm3)                      494 non-null    float64
 14  Viability (%)                        494 non-null    float64
dtypes: float64(11), int64(2), object(2)
memory usage: 58.0+ KB

In [10]:
# Сохранение таблицы
db1.to_excel('proc_db1.xlsx', index=False)